<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/dropstyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/main.css" />
    <script src="https://kit.fontawesome.com/2d38cda901.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        {% block m  %}    {% endblock %}
        {% block login %} {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/static/scripts/main.js"> </script>
    {% block script  %} {% endblock %}
</body>
</html>
