{% extends "base.html" %}
{% block login %}
<div class="wrap-form">
    <div class="form-login">
        <h1 class="line-bottom">Змінити пароль</h1>
        <form method="POST" action="{{url_for('confirm_email', token=token)}}">
           {{ form.hidden_tag() }}
            <p>
                {{ form.password.label}}<br>
                {{ form.password( class_ = "input-field-syle email-form", placeholder="Введіть новий пароль") }}
            </p>
            <p>
                <button class="btn button1" type="submit"> Змінити </button>
            </p>
            {% if message %}
            <br>
            <div class="wrong-login">
                <p>
                    {{message}}
                </p>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

