{% extends "base.html" %}
{% block login %}
<div class="wrap-form">
    <div class="form-login">
        <h1 class="line-bottom">Відновлення паролю</h1>
        <form method="POST" action="/ForgotPassword">
            {{ form.hidden_tag() }}
           <p>
                {{ form.email.label}}<br>
                {{ form.email( class_ = "input-field-syle email-form", placeholder="ведіть email")}}
            </p>
            <p>
                <button class="button1 btn" type="submit"> Надіслати </button>
            </p>
            {% if message %}
            <br>
            <div class="wrong-login">
                <p>
                    {{message}}
                </p>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

